.Weather {
  border: thick double rgba(1, 97, 104, 0.281);
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(177, 175, 175, 0.3);
  color: rgb(60, 63, 63);
  max-width: 991px;
  min-width: 768px;
}

.Weather ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Weather button {
  background-color: rgba(1, 97, 104, 0.281);
  border-color: rgba(1, 97, 104, 0.281);
  color: rgba(1, 97, 104);
}

.temperature {
  font-size: 82px;
  line-height: 0.8;
}

.icon {
  position: relative;
  top: -25px;
}

.units {
  position: relative;
  top: -40px;
}
